Missing test case for partially / incorrectly padded byte sequences

[RFC 9651, Parsing a Byte Sequence (Section 4.2.7)](https://httpwg.org/specs/rfc9651.html#parse-binary) delegates the actual decoding to [RFC 4648, Section 4](https://www.rfc-editor.org/rfc/rfc4648.html#section-4):
> Let binary_content be the result of base64-decoding [[RFC4648]] b64_content... If base64 decoding fails, parsing fails.

RFC 9651 additionally clarifies that completely unpadded base64 (e.g., `:aGVsbG8:`) is permitted because parsers can synthesize padding if necessary:
> Because some implementations of base64 do not allow rejection of encoded data that is not properly "=" padded, parsers SHOULD NOT fail when "=" padding is not present...

While completely unpadded sequences are accepted (covered by the `bad padding` test case with `"can_fail": true`), there is currently no test case covering partially or incorrectly padded base64 (e.g., `:uuueGVsbG8=:`, which would require two `=` for padding instead of one).

We should add a test case to the test suite to establish the expected behavior, though it's unclear to me whether RFC 9651 itself needs to be modified at all (i.e. whether "padding is not present" should be replaced with "padding is not present or is incorrect").

We should also probably rename the `bad padding` test case to `unpadded` for clarity.

@mnot Any thoughts on this? Thanks!